{%extends 'base.html'%}
{%block title%}
| Home
{%endblock%}
{%block content%}
    <div class="container" style="margin-top:20px">
        <div class="jumbotron" style="background: lightblue;">
            <h1 class="display-4"><i class="fas fa-graduation-cap"></i> GeekShare</h1>
            <p class="lead" style="color:black">
                Welcome to our platform. Get all the resources you need for your growth and development under one roof. Need notes for your studies ? We got your back. 
            </p>
            <hr class="my-4">
            <p>Got questions ? Ask it out on our platform.</p>
            <a class="btn btn-dark btn-lg" href="#" role="button">View notes</a>
        </div>    
    </div>
    
    <div class="container" style="margin-bottom: 20px;">
        <div class="card-deck">
            <div class="card">
              
              <img src="/public/images/undraw_notes1_cf55.svg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Notes</h5>
                <p class="card-text">This platform is made to enable the students and developers to share their notes what they used to their learning process.</p>
                
                <div class="d-flex justify-content-between align-contents-center">
                  <a href="#">View notes</a>
                </div>

              </div>

            </div>

            <div class="card">
                <img src="/public/images/undraw_Meeting_h2df.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Discussions</h5>
                  <p class="card-text">A platform where you can ask your queries without being humilated or questioned and others will answer your queries.</p>
                  <a href="#">Discussion forum</a>
                </div>
            </div>

            <div class="card">
              <img src="/public/images/undraw_Organizing_projects_0p9a.svg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Projects</h5>
                <p class="card-text">One of the most awaited features of our platform is where users can share their project codes, ideas and get reviews as well.</p>
                <a href="#">View projects</a>
              </div>
            </div>

            
        </div>
    </div>
{%endblock%}